#form-registro {
  width: auto;
}

#cuerpo-registro {
}

#form-registro-contenido {
  border: solid 1px #e9e9e9;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 15px;
}

.support-align {
  position: fixed;
  bottom: 20px;
  right: 20px;
}